/*Reset css section */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a:active, a:focus, img{outline:none;}


/*Main template styles*/
html, body{
	height:101%;
	text-align:center;
	min-width:1212px;
	}
body{
	font-family:arial,helvetica,sans-serif;
	font-style:normal;
	color:#ffffff;
	font-size:14px;
	line-height:20px;
	background:#373636;
	}

p,ul,ol{
	margin:0 0 .5em 0;
	padding:0;
	text-align:left;
	}
ul,ol{
	padding:0 0 0 0px;
	margin:0 0 1em 1.5em;
	}

h1,h2,h3,h4,h5,h6{
	margin:1em 0;
	text-align:left;
	font-weight:normal;
	}
h1{
	font-size:26px;
	line-height:30px;
	}
h2{
	font-size:24px;
	line-height:20px;
	}
h3{
	font-size:22px;
	line-height:28px;
	}
h4{
	font-size:16px;
	line-height:20px;
	}
h5{
	font-size:12px;
	line-height:20px;
	}
h6{
	font-size:12px;
	line-height:18px;
	margin:0;
	}

b,strong{
	font-weight:bold;
	}
i,em{
	font-style:italic;
	}
time{
	font-style:italic;
	}
u{
	text-decoration:underline;
	}

td{
	vertical-align:top;
	}

a{
	color:#ffffff;
	text-decoration:underline;
	}
a:hover{
	color:#ffffff;
	text-decoration:none;
	cursor:pointer;
	}
input,textarea,button{
	font-family:arial,helvetica,sans-serif;
	}
input::-webkit-input-placeholder {
	font-style:italic;
	color:#666666;
	}
input::-moz-placeholder {
	font-style:italic;
	color:#666666;
	}
.hidden{
	display:none;
	visibility:hidden;
	}
.clear{
	float:none;
	clear:both;
	overflow:hidden;
	padding:1px 0;
	}
.required,
.error{
	color:#f00;
	}

.container{
	width:1212px;
	margin:0 auto;
	}
	
/*Header*/
header{
	background:#2dccd3;
	height:80px;
	}
.headlogo{
	width:290px;
	height:80px;
	float:left;
	}
.headcontacts{
	width:170px;
	padding:19px 20px 12px 45px;
	float:left;
	text-align:left;
	}
.rightsection{
	float:right;
	text-align:right;
	height:80px;
	}
.languageselect{
	display:block;
	height:40px;
	width:80px;
	float:right;
	padding:30px 0 0 0;
	}
	.languageselect ul{
		display:block;
		padding:0 20px 0 0;
		width:30px;
		height:20px;
		overflow:hidden;
		list-style:none;
		background:url(../images/design/arrowlangdown.png) 35px 5px no-repeat;
		}
		.languageselect ul:hover{
			height:auto;
			}
		.languageicon{
			display:block;
			width:30px;
			height:20px;
			margin:0 0 7px 0;
			font-size:0;
			text-decoration:none;
			background:url(../images/design/flags.png) 0 0 no-repeat;
			}
			.languageicon.rus{
				background:url(../images/design/flags.png) 0 0 no-repeat;
				}
			.languageicon.eng{
				background:url(../images/design/flags.png) 0 -20px no-repeat;
				}
.headersearch{
	display:block;
	height:40px;
	width:210px;
	float:right;
	padding:26px 0 0 0;
	}
	.headersearch form{
		position:relative;
		width:210px;
		height:30px;
		}
	.headersearch input{
		padding:0px 25px 0px 5px;
		width:180px;
		height:30px;
		line-height:30px;
		background:#ffffff;
		color:#666666;
		border:0 none;
		border-radius:3px;
		}
		.headersearchbtn{
			display:block;
			width:30px;
			height:30px;
			font-size:0;
			border:0 none;
			position:absolute;
			right:0;
			top:0;
			cursor:pointer;
			background:url(../images/design/iconsearch.png) center center no-repeat;
			}
.headmenu{
	display:block;
	height:40px;
	float:right;
	padding:30px 20px 0 0;
	}
	.headmenu ul{
		display:block;
		list-style:none;
		}
		.headmenu ul li{
			display:inline;
			}
			.headmenu a{
				font-weight:bold;
				padding:0 10px;
				text-decoration:none;
				}
.topcontentblock{
	margin:20px 0;
	}
.sidebar{
	width:290px;
	float:left;
	margin:0 20px 0 0;
	}
.topsubmenu{
	background:#ff8200;
	padding:20px;
	margin:0 0 20px 0;
	min-height:236px;
	}
	.topsubmenulist{
		margin:35px 0 0 0;
		padding:0;
		list-style:none;
		}
		.topsubmenulink{
			display:block;
			font-size:18px;
			text-decoration:none;
			padding:12px 0 12px 62px;
			margin:0 0 6px 0;
			background:url(../images/design/iconslinks.png) left 2px no-repeat;
			}
			.eventscalendaricon{
				background:url(../images/design/iconslinks.png) left 2px no-repeat;
				}
			.schemeicon{
				background:url(../images/design/iconslinks.png) left -56px no-repeat;
				}
			.routeicon{
				background:url(../images/design/iconslinks.png) left -135px no-repeat;
				}
			.newsicon{
				background:url(../images/design/iconslinks.png) left -182px no-repeat;
				}
			.newsiconblue{
				background:url(../images/design/iconslinks.png) left -224px no-repeat;
				}
.slidernav{
	width:290px;
	height:300px;
	margin:20px 20px 20px 0;
	background:#282828;
	}
	.slidernavlist{
		display:block;
		margin:0;
		padding:0;
		list-style:none;
		}
		.slidernavlink{
			display:block;
			padding:40px 20px 30px 30px;
			font-size:20px;
			text-decoration:none;
			height:30px;
			vertical-align:middle;
			}
		.slidernavlink.long{
			padding:30px 20px 30px 30px;
			height:40px;
			}
		.slidernavlink:hover,
		.slidernavlink.active{
			background:url(../images/design/leftarr.png) right center no-repeat #666666;
			margin:0 -20px 0 0;
			padding:40px 40px 30px 30px;
			}
		.slidernavlink.long:hover,
		.slidernavlink.long.active{
			background:url(../images/design/leftarr.png) right center no-repeat #666666;
			margin:0 -20px 0 0;
			padding:30px 40px 30px 30px;
			}
.slidercontent{
	width:902px;
	height:596px;
	overflow:hidden;
	float:left;
	}
	.slidercontentlist{
		display:block;
		padding:0;
		margin:0;
		list-style:none;
		}
.mainnav{
	display:block;
	margin:20px 0;
	padding:0;
	height:80px;
	clear:both;
	border-left:20px solid #87189d;
	border-right:20px solid #87189d;
	background:url(../images/design/bgtopnav.png) left center repeat-x #87189d;
	}
	.mainnavlist{
		display:inline-block;
		list-style:none;
		margin:0;
		padding:0;
		background:#87189d;
		}
	.mainnavlist li{
		display:inline;
		}
		.mainnavlink{
			display:inline-block;
			font-size:24px;
			text-decoration:none;
			padding:30px;
			height:20px;
			background:#87189d;
			}
			.mainnavlink:hover,
			.mainnavlink.active{
				background:#9f46b1;
				color:#ffffff;
				}
.announcements{
	background:#ff8200;
	padding:20px 10px 10px 20px;
	margin:0 0 20px 0;
	min-height:258px;
	width:260px;
	float:left;
	}
	.announcements h3{
		margin:0;
		}
	.announcementslist{
		margin:12px 0;
		padding:0;
		list-style:none;
		}
		.announcement{
			margin:0 0 6px 0;
			}
	.allannouncements{
		display:block;
		padding:0 0 2px 55px;
		text-align:left;
		}
.infobanner{
	background:#2dccd3;
	padding:0;
	margin:0 0 20px 20px;
	min-height:288px;
	width:287px;
	float:left;
	}
	.infobannertext{
		padding:10px 20px;
		}
		.infobannertext h3{
			font-size:20px;
			margin:0;
			}
		.infobannertext p{
			font-size:13px;
			line-height:18px;
			margin:4px 0;
			}
	.greenbanner{
		background:#84bd00;
		}
	.lightbluebanner{
		background:#2dccd3;
		}
	.bluebanner{
		background:#0072ce;
		}
.promoblockspart{
	float:right;
	width:596px;
	margin:0 0 0 20px;
	}
	.promoblock{
		height:288px;
		width:596px;
		margin:0 0 20px 0;
		}
.newsbar{
	color:#333333;
	width:556px;
	height:258px;
	float:left;
	margin:0 0 20px 0;
	padding:20px 20px 10px 20px;
	background:#ffffff;
	}
	.newsbar h3{
		color:#0072ce;
		margin:0;
		}
	.newsbar a{
		color:#0072ce;
		}
	.newsbar time{
		color:#999999;
		}
	.newsbarlist{
		margin:12px 0;
		padding:0;
		list-style:none;
		height:150px;
		overflow:hidden;
		}
		.newsbaritem{
			font-size:13px;
			line-height:18px;
			}
	.allnewslink{
		display:block;
		float:left;
		width:85px;
		padding:0 15px 2px 55px;
		text-align:left;
		}
.newssubscribe{
	display:block;
	float:left;
	padding:7px 0 0 0;
	text-align:left;
	}
	.newssubscribe input{
		padding:5px;
		width:184px;
		height:20px;
		background:#ffffff;
		color:#666666;
		border:1px solid #0072ce;
		border-radius:3px;
		}
	.newssubscribe button{
		padding:5px;
		margin:0 0 0 4px;
		width:197px;
		height:36px;
		background:#02589b;
		color:#ffffff;
		font-family:arial;
		font-weight:bold;
		border:0 none;
		border-radius:3px;
		box-shadow:0 4px 0 #024982;
		cursor:pointer;
		}
		.newssubscribe button:hover{
			background:#016abb;
			}
		
.partnersblock{
	width:556px;
	height:248px;
	padding:20px;
	float:left;
	margin:0;
	background:#e3e3e3;
	position:relative;
	}
	.partnersblock h3{
		color:#84bd00;
		margin:0;
		}
	.partnersview{
		width:556px;
		height:200px;
		margin:15px 0 0 0;
		overflow:hidden;
		position:relative;
		}
	.partnerslist{
		display:block;
		padding:0;
		margin:0;
		height:200px;
		width:6000px;
		position:relative;
		list-style:none;
		}
		.partnerscell{
			display:block;
			width:190px;
			float:left;
			}
	.partnerbox{
		display:block;
		width:160px;
		height:80px;
		padding:5px;
		margin:0 0 20px 0; 
		border-radius:4px;
		background:#ffffff;
		text-align:center;
		}
	.partnersnav{
		display:block;
		width:40px;
		height:37px;
		position:absolute;
		top:13px;
		right:26px;
		font-size:0;
		text-decoration:none;
		background:url(../images/design/arrownav.png) 11px 10px no-repeat #9dca00;
		box-shadow:0 4px 0 #84bd00;
		border-radius:4px;
		}
		.partnersnav.next{
			background:url(../images/design/arrownav.png) -48px 10px no-repeat #9dca00;
			}
		.partnersnav.prev{
			background:url(../images/design/arrownav.png) 11px 10px no-repeat #9dca00;
			right:84px;
			}
		.partnersnav:hover{
			background-color:#b0e300;
			}
/*advsnced*/
.bottomnav{
	background:#292929;
	overflow:hidden;
	clear:both;
	}
	.column3{
		width:404px;
		float:left;
		margin:20px 0 0 0;
		}
	.bottomlinkslist{
		margin:0 0 20px 20px;
		list-style:none;
		}

/*Footer*/
footer{
	height:50px;
	color:#999999;
	background:#1d1d1d;
	}
.copyright{
	float:left;
	width:400px;
	padding:15px 0 0 20px;
	text-align:left;
	}
.footercontacts{
	float:left;
	width:400px;
	padding:15px 0 0 0;
	text-align:left;
	}
	.footercontacts a{
		color:#999999;
		}
.footersocial{
	text-align:left;
	}
	.footersocial p{
		float:left;
		padding:15px 6px 0 6px;
		}
	.sociallinks{
		display:block;
		float:left;
		margin:0;
		padding:5px 0 0 0;
		list-style:none;
		}
	.sociallinks li{
		display:inline-block;
		}
	.socialicon{
		display:inline-block;
		width:32px;
		height:32px;
		font-size:0;
		text-decoration:none;
		background:url(../images/design/iconssocial.png) 7px 3px no-repeat;
		}
		.vkcom{
			background:url(../images/design/iconssocial.png) 7px 3px no-repeat;
			}
		.facebook{
			background:url(../images/design/iconssocial.png) -38px 3px no-repeat;
			}
		.googleplus{
			background:url(../images/design/iconssocial.png) -78px 3px no-repeat;
			}
		.twitter{
			background:url(../images/design/iconssocial.png) -117px 3px no-repeat;
			}
		.youtube{
			background:url(../images/design/iconssocial.png) -159px 3px no-repeat;
			}
/*Разные разрешения подгоняем*/

/*1024px*/
@media only screen and (max-width: 1230px) {
	html, body{
		min-width:904px;
		}
	.container{
		width:904px;
		}
	.headersearch{
		display:none;
		}
	.headcontacts{
		padding:19px 10px 12px 20px;
		width:135px;
		}
	.headmenu{
		padding:30px 10px 0 0;
		}
	.slidercontent{
		width:594px;
		}
	#advanced{
		display:none;
		}
	.newsbar{
		width:248px;
		height:875px;
		}
		.newsbarlist{
			height:669px;
			}
		.newssubscribe input{
			margin:10px 0;
			width:225px;
			}
		.newssubscribe button{
			margin:0 0 10px 0;
			width:235px;
			}
	.partnersblock{
		margin:0 0 0 20px;
		}
	.column3{
		width:290px;
		}
	.copyright{
		width:281px;
		}
	.footercontacts{
		width:260px;
		}
	.socialicon{
		width:30px;
		}
} 

/*1920px*/
@media only screen and (min-width : 1830px){
	html, body{
		min-width:1828px;
		}
	.container{
		width:1828px;
		}
	.topcontentblock{
		position:relative;
		}
	.infobannersblock{
		position:absolute;
		top:0;
		right:0;
		width:614px;
		height:596px;
		}
		.announcements{
			width:257px;
			margin-left:20px;
			}
	.newsbar{
		width:904px;
		height:566px;
		}
		.newsbarlist{
			height:454px;
			}
	.partnersblock{
		margin:0 0 0 20px;
		width:208px;
		height:556px;
		float:right;
		}
	.partnersview{
		width:173px;
		height:500px;
		margin:15px 15px 0 15px;
		}
		.partnerslist {
			height:500px;
			}
		.partnerscell{
			width:194px;
			}
	.bottomnav .container,
	footer .container{
		width:1212px;
		}
} 